<div class="card flex-row">
    <img class="card-img-left" src="https://covers.openlibrary.org/b/olid/{{olid}}-M.jpg">
    <div class="card-body">
        <div class="card-header">
            <h4>{{title}}</h4>
        </div>
        <div class="card text">
            <p>
                by {{first_name}} {{last_name}}
            </p>
            <p>
                Pages: {{pages}}
            </p>
            <p>
                Year Published: {{year}}
            </p>
            <p>
                Genre: {{genre}}
            </p>
            <p>
                <a href="https://search.worldcat.org/title/{{oclc}}">Find this book on WorldCat</a>
            </p>
            <p>
                <blockquote>Description: {{descr}}</blockquote>
               
            </p>
        </div>
    </div>
</div>