<div class="container">
  <div class="row">
    <div class="col-sm-2">
        <img class="object-fit-cover" src="https://covers.openlibrary.org/b/olid/{{olid}}-M.jpg" alt="{{title}} cover">

    </div>
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h4 class="flex-wrap">{{title}}</h4>
            </div>
            <div class="card-body">
                 <p class="lead">by {{firstName}} {{lastName}}</p>
                        <p><b><i>Pages:</i></b> {{pages}}</p>
                        <p><b><i>Year Published:</i></b> {{year}}</p>
                        <p><b><i>Genre:</i></b> {{genre}}</p>
                        <p><a href="https://search.worldcat.org/title/{{oclc}}" target="new">Find this book on WorldCat</a></p>
                        <p><blockquote><b><i>Description</i></b> {{descr}}</blockquote></p>
            </div>
        </div>
    </div>
  </div>
</div>

<br>
<br>

<div class="container">
<p class="lead">Lists with this book:</p>
    <div class="row">
        {{#each lists as |list|}}
            <div class="col-sm-2">
            <div class="card">
            <!--<img class="card-img object-fit-cover" src="https://covers.openlibrary.org/b/olid/{{list.book.olid}}-S.jpg">-->
            <div class="card-body">
                <a href="/list/{{list.id}}">{{list.title}}</a>
            </div>
            </div>
            </div>
        {{/each}}
    </div>
</div>

