<div type="container" id="main-content">
    <div type="row">
        <div type="card">
            <div type="card-header">
                <h3>{{title}}</h3>
            </div>
            <div type="card-body">
                {{listDesc}}
            </div>
        </div>
    </div>
</br>
    <div type="row">
        <div type="card">
            <a href="/addbook/{{id}}">
                <button class="btn btn-primary">Add a book</button>
            </a>
            <a href="/edit/{{id}}">
                <button class="btn btn-primary">Edit list</button>
            </a>
            <button class="btn btn-danger del-list" data-id="{{id}}">Delete list</button>
        </div>
    </div>
<div class="row">
    <div class="col-sm-2">
        {{#each books as |book|}}
            <a href="/book/{{id}}">
                <div class="card">
                    <img class="card-img object-fit-cover" src="https://covers.openlibrary.org/b/olid/{{book.olid}}-M.jpg" alt="{{book.title}} cover">
                    <div class="card-body">
                        <div class="card-title">
                            {{book.title}}
                        </div>
                    </div>
                    </a>
                        <div class="card-footer">
                            <button class="btn btn-primary del-book" data-id="{{listitem.id}}">Delete</button>
                        </div>
                </div>
            
        {{/each}}
    </div>
</div>
</div>


<!--
<div class="modal fade" id="book-add-modal" aria-labelledby="modal-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Add a book
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div class="modal-body">
            <div>
                <form class="book-search">
                    <label>Search for a book</label>
                    <input type="text" id="search-input"><button type="submit" class="btn btn-primary mb-2" id="searchSubmit">Search</button>
                </form>
                <div id="book-search-result">

                </div>
            </div>
        </div>
    </div>
</div>-->

<!--<script src="../js/search.js"></script>-->
<!--<script src="../js/addBook.js"></script>-->
<script src="../js/deleteList.js"></script>
<script src="../js/deleteBook.js"></script>