<div type="container" id="main-content">
    <div type="row">
        <div type="card">
            <div type="card-header">
                <h3>{{title}}</h3>
            </div>
            <div type="card-body">
                {{list_desc}}
            </div>
        </div>
    </div>

    <div type="row">
        <div type="card">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#book-add-modal">Add a book</button>
        </div>
    </div>
<div class="row">
    <div class="col-sm-2">
        {{#each books as |book|}}
            <a href="/book/{{id}}">
                <div class="card">
                    <img class="card-img" src="https://covers.openlibrary.org/b/olid/{{book.olid}}-M.jpg" alt="{{book.title}} cover">
                    <div class="card-body">
                        <div class="card-title">
                            {{book.title}}
                        </div>
                    </div>
                </div>
            </a>
        {{/each}}
    </div>
</div>
</div>


<!--Add book modal-->
<div class="modal fade" id="book-add-modal" aria-labelledby="modal-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Add a book
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div class="modal-body">
            <div>
                <form class="book-search">
                    <label>Search for a book</label>
                    <input type="text" id="search-input"><button type="submit" class="btn btn-primary mb-2" id="searchSubmit">Search</button>
                </form>
                <div id="book-search-result">

                </div>
            </div>
        </div>
    </div>
</div>

<script src="../js/search.js"></script>
<!--<script src="../js/addBook.js"></script>-->