<div type="container" id="main-content">
    <div type="row">
        <div type="card">
            <div type="card-header">
                <h3>{{title}}</h3>
            </div>

            <div type="card-body" id="list-card" list-user="{{session_user_id}}" list-owner="{{userId}}">
                {{listDesc}}
            </div>
        </div>
    </div>
</br>
    <div type="row">
        <div type="card" id="owner-buttons">
           
        </div>
    </div>
<div class="row">
        {{#each books as |book|}}
        <div class="col-6 col-sm-3 col-md-2">
      <!-- col-6: 2 cards in a row on extra small devices (phones)
           col-sm-3: 4 cards in a row on small devices (tablets)
           col-md-2: 6 cards in a row on medium devices (desktops) -->
            <a href="/book/{{id}}">
                <div class="card">
                    <img class="card-img object-fit-cover" src="https://covers.openlibrary.org/b/olid/{{book.olid}}-M.jpg" alt="{{book.title}} cover">
                    <div class="card-body">
                        <div class="card-title" id="book-card-id" list-item-id="{{listitem.id}}">
                            {{book.title}}
                        </div>
                    </div>
                    </a>
                    <div id="delete-footer" list-item-id="{{listitem.id}}">
                        </div>
                </div>
                </div>
        {{/each}}
    </div>

</div>
</div>

<div id="script-div">

</div>

<script src="../js/listOwner.js"></script>

